<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke test suite">

    <listeners>
        <listener class-name="com.hillel.auto.listener.TestMethodExecutionListener"/>
    </listeners>

    <test name="Login tests">
        <packages>
            <package name="io.react.realworld.LoginTest"/>
        </packages>
    </test>

</suite>